<!DOCTYPE html>
<html lang="en">

<!-- head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>

            <!-- Hero section -->
            <div class="hero">
                <h1>THOUGHTS</h1><br>
                <p>Aren't they amazing huh...</p>
                <a href="/add"><button type="button" class="btn btn-outline-primary">let's Write Some</button></a>
            </div>

            <!-- Footer -->
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">Made with ❤️ by Roy </span>
                </div>
            </footer>


    </body>

</html>